<!-- templates/signup.html -->

{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">New Patient</h3>
    <div class="box">
        <form method="POST" action="/addpatient">
            <div class="field">
                <div class="control">
                    {{ form.firstname(class="input is-large", placeholder="First Name") }}
                </div>
            </div>
            <div class="field">
                <div class="control">
                        {{ form.lastname(class="input is-large", placeholder="Last Name") }}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ form.dt(class="dtpick input is-large form-control", placeholder="Birthdate") }}
                </div>
            </div>
            <div class="field">
                <div class="control">
                        {{ form.address(class="input is-large", placeholder="Address") }}
                </div>
            </div>
            <div class="field">
                <div class="control">
                        {{ form.city(class="input is-large", placeholder="City") }}
                </div>
            </div>
            <div class="field">
                <div class="control">
                        {{ form.email(class="input is-large", placeholder="Email") }}
                </div>
            </div>
            <div class="field">
                <div class="control">
                        {{ form.phone(class="input is-large", placeholder="Phone number") }}
                </div>
            </div>
            {% if error %}
            <div class="field">
                <div class="control">
                    <p class="error">{{ error }}</p>
                </div>
            </div>
            {% endif %}
            <button class="button is-block is-info is-large is-fullwidth">Add</button>
        </form>
    </div>
</div>
{% endblock %}