<!-- templates/base.html -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Auth Example</title>
    <link rel="stylesheet" href="../static/content/bulma.min.css" />
    <link rel="stylesheet" href="../static/content/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/content/styles.css" />
    <link rel="stylesheet" href="../static/scripts/jquery-ui-themes-1.11.4/themes/smoothness/jquery-ui.min.css" />
    <script src="../static/scripts/jquery-1.10.2.js"></script>
    <script src="../static/content/jquery-ui-1.11.4/jquery-ui.js"></script>
	<script>
	$(function() {
		$( ".dtpick" ).datepicker({ dateFormat: 'd-m-yy' });
	});
	</script>
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">

                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            <a href="{{ url_for('get_patients') }}" class="navbar-item">
                                Home
                            </a>
                            <a href="{{ url_for('profile') }}" class="navbar-item">
                                Profile
                            </a>
                            <a href="{{ url_for('login') }}" class="navbar-item">
                                Login
                            </a>
                            <a href="{{ url_for('signup') }}" class="navbar-item">
                                Sign Up
                            </a>
                            <a href="{{ url_for('logout') }}" class="navbar-item">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>