<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/content/favicon.ico">

    <title>Diagnise Page</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="../static/content/bootstrap.min.css" />
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/content/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/content/signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/content/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="container">
        <h2>
            <Center>
                <div class="alert alert-info" role="alert">
                    Breast Cancer Diagnosis System
                </div>
            </Center>
        </h2>
        <h1>&nbsp;</h1>

        <form class="form-signin">

            <div class="form-group" >
                <label for="exampleFormControlInput1">uniformity_cell_size</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="....">
            </div>
            
            <div class="form-group">
                <label for="exampleFormControlInput1">uniformity_cell_shape</label>
                <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="....">
            </div>
            
            <div class="form-group">
                <label for="exampleFormControlInput1">marginal_adhesion</label>
                <input type="email" class="form-control" id="exampleFormControlInput3" placeholder="....">
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">single_epithelial_cell_size</label>
                <input type="email" class="form-control" id="exampleFormControlInput4" placeholder="....">
            </div>

            
            <div class="form-group">
                <label for="exampleFormControlInput1">bland_chromatin</label>
                <input type="email" class="form-control" id="exampleFormControlInput5" placeholder="....">
            </div>
            
            <div class="form-group">
                <label for="exampleFormControlInput1">normal_nucleoli</label>
                <input type="email" class="form-control" id="exampleFormControlInput6" placeholder="....">
            </div>
     
            <div class="form-group">
                <label for="exampleFormControlInput1">mitoses</label>
                <input type="email" class="form-control" id="exampleFormControlInput7" placeholder="....">
            </div>
            
            <div class="form-group">
                <label for="exampleFormControlInput1">clump_thickness</label>
                <input type="email" class="form-control" id="exampleFormControlInput8" placeholder="....">
            </div>
            
           
            <div class="form-group">
                <label for="exampleFormControlInput1">First Name</label>
                <input type="email" class="form-control" id="exampleFormControlInput9" placeholder="....">
            </div>
     
            <div class="form-group">
                <label for="exampleFormControlInput1">Last Name</label>
                <input type="email" class="form-control" id="exampleFormControlInput10" placeholder="....">
            </div>
            
            <div class="form-group">
                <label for="exampleFormControlInput1">Age</label>
                <input type="email" class="form-control" id="exampleFormControlInput11" placeholder="....">
            </div>     
            

            <div class="form-group">
                <label for="exampleFormControlSelect1">Gender</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1">Comments</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <center> <button type="submit" class="btn btn-primary mb-2">show diagnose</button>
                <button type="button" class="btn btn-danger">Clear</button></center>
           
        </form>


    </div> <!-- /container -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/content/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
