<!-- templates/signup.html -->

{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">New Member</h3>
    <div class="box">
        <form method="POST" action="/signup">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="first_name" placeholder="First name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="last_name" placeholder="Last name" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <select name="group" class="form-control">
                        <option value="" disabled selected>Select a group</option>
                        {% for group in allgroups %}
                        <option value="{{group.foundation_id}}">{{group.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Add</button>
        </form>
    </div>
</div>
{% endblock %}